/*===================================================================
MAIN STYLES
===================================================================*/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: Courier, Times, serif;
	font-size: 100%;
	margin: 0;
	color: #414141;
	text-rendering: optimizelegibility;
	background-attachment: fixed;
	background-image: url(../images/header-bg.png);
	background-repeat: repeat-y;
	background-position: 50% -100px;
	background-size: 100%;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.row {
	max-width: 1000px;
	margin: 0 auto;
}	


/*********************
LINK STYLES
*********************/

a, a:visited, button{
	color: #f28f33;
	text-decoration: none;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}
	/* on hover */
a:hover, a:focus {
	color: #414141;
	text-decoration: none;
}

a:link, button:link {
	/*
	this highlights links on iPhones/iPads.
	so it basically works like the :hover selector
	for mobile devices.
	*/
	-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
}

.button, input[type="button"] {
	border: solid 3px #f28f33;
	background: #FFF;
	padding: 15px 35px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #f28f33;
	font-size: .8em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .1em;
}

.button:hover, input[type="button"]:hover {
	background: #f28f33;
	color: #FFF;
}

/**************************
H1, H2, H3, H4, H5, p STYLES
***************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 300;
}

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
	text-decoration: none;
}

h1, .h1 {
	font-size: 3em;
	line-height: 1.75em;
}

h2, .h2 {
	font-size: 2.5em;
	line-height: 1.25em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
	font-weight: 600;
}

h4, .h4 {
	font-size: .95em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

p {
	font-size: .8em;
}

/*********************
FORM SYTLES
*********************/
	
input[type="text"],
input[type="email"],
textarea {
	display: block;
	padding: 10px 20px;
	margin: 1em 0;
	font-family: Courier, Times, serif;
	border: solid 3px #EFEFEF;
	-webkit-appearance: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
	
input[type="text"]:focus,
input[type="email"]:focus,
input[type="submit"]:focus,
textarea:focus {
	outline: none;
	border-color: #adb548;
}
	
input[type="submit"] {
	background: #FFF;
}
	
.contact-form input[type="submit"]:hover {
	background: #f28f33;
}


/*********************
LIST SYTLES
*********************/

li {
	list-style: none;
}

/*********************
HEADER SYTLES
*********************/

#site-header {
	padding: 30px 30px 0;
	text-align: center;
}

	#site-header h1{
		margin: 0 auto;
		display: block;
		line-height: 0;
	}
		#site-header h1 a {
			opacity: .8;
		}
		
		#site-header h1 a:hover {
			opacity: 1;
		}
			
			#site-header h1 a img {
				width: 380px;
				max-width: 380px;
			}
	
/* Primary Menu */
	
nav#primary-menu {
}

	nav#primary-menu ul {
		padding-left: 0;
	}

		nav#primary-menu li {
			display: inline-block;
			margin: 30px 2%;
		}
	
			nav#primary-menu li a{
				color: #FFFFFF;
				font-family: 'Lato', Helvetica, Arial, sans-serif;
				font-size: .8em;
				font-weight: 700;
				padding: 15px;
				text-transform: uppercase;
				letter-spacing: .25em;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
			}
			
			nav#primary-menu li a:hover {
				background: rgba(255,255,255, 0.2);
				color: #d2d76c;
			}

ul.link-list {
	
}

/* Slider */

.swipe {
	overflow: hidden;
	visibility: hidden;
	margin: 20px auto 0;
	position: relative;
	max-width: 1000px;
}

.swipe-wrap {
	height: 325px;
	overflow: hidden;
	padding-left: 0;
	position: relative;
}

	.swipe-wrap > div {
		border-radius: 15px 15px 0 0;
		float: left;
		overflow: hidden;
		position: relative;
		width: 100%;
	}	

		.swipe-wrap div:first-child img {
			margin-top: -300px;
		}

		.swipe-wrap div img {
			width: 100%;
			height: auto;
		}
		
		.swipe-wrap div h2, .swipe-wrap div h3 {
			position: relative;	
			color: #FFF;
			text-align: center;
			margin: 0;
		}

		.swipe-wrap div h2 {
			font-size: .85em;
			font-weight: 700;
			text-transform: uppercase;
		}
		
		.swipe-wrap div h3 {
			font-size: 2.5em;
			font-weight: 300;
		}

.swipenav { 
	bottom: 0;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 999;
}
	.swipenav li { 
		display: inline-block;
		width: 10px;
		height: 10px; 
		border-radius: 10px;
		background: #000;
		box-shadow: 0 0 1px #000;
		margin: 0 2px; 
		cursor: pointer;
	}
	.swipenav li.current { 
		box-shadow: 0 0 2px #f0eece;
		background-color: #adb548;
	}
	

/*===================================================================
HOMEPAGE CONTENT
===================================================================*/	

/* Page Styles */

.highlight-row {
	background: #f0eece;
	padding: 20px 0;
	text-align: center;
}
	.highlight-row h2 {
		margin: 20px 0;
	}

.page-content:after  { 
	content: ""; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}

.page-content { 
	padding: 100px 0px;
	margin: 0 auto;
	background: url(../images/cream-tail-bg.svg) no-repeat center top #FFF;
	background-size: 15%;
}

.page-content h3 {
	text-align: center;
	font-size: 1.7em;
	font-weight: 300;
} 

.page-content h4 {
	color: #D2D76C;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2em;
}

.page-content p {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	line-height: 1.75em;
}


/* Homepage */

#co-about {
	padding: 80px 20px;
}

	#co-about .span_4 {
		text-align: center;
	}
	
	#co-about h4 {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.1em;
	}
	

	#co-about p {
		font-size: .9em;
		line-height: 2.5em;
		display: block;
		text-align: left;
		font-family: 'Lato', Helvetica, Arial, sans-serif;
	}
	
	.option-3 #co-about p {
		color: #FFF;
	}

		#co-about .testimonial-excerpt {
			margin-top: 0;
		}
		
		#co-about .testimonial-source {
			font-weight: bold; 
			font-size: .8em;
			margin-bottom: .25em;
			color: #819d2f;
		}

	#co-about a {
		margin: 20px 0 0;
		border: solid 3px #f28f33;
		padding: 15px 15px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		font-size: .8em;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .1em;
		display: block;
		text-align: center;
	}
	#co-about a:hover {
		background: #f28f33;
		color: #F0EECE;
	}

.post-content:after  { 
	content: ""; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}

.post-content { 
	padding: 100px 0px;
	margin: 0 auto;
	background: url(../images/cream-tail-bg.svg) no-repeat 31% top #FFF;
	background-size: 15%;
}
	.post-content img {
		width: 30%;
		float: left;
		background: #efefef;
	}
	.post-content .post-text {
		width: 60%;
		float: left;
		margin: 0 3% 0 7%;
		text-align: center;
	}
	.post-content h3 {
		font-size: 2.1em;
		margin: 0;
		color: #f28f33;
		font-weight: 300;
		text-align: center;
	}

	.post-content p { 
		line-height: 2.15em;
		font-size: 1.1em;
		font-family: 'Lato', Helvetica, Arial, sans-serif;
		text-align: left;
		margin-bottom: 40px;
	}
	p.post-date{
		font-size: .8em;
		font-family: Courier, Times, serif;
		margin: 0 0 -10px;
		text-align: center;
	} 

.responsive-title {
	display: none;
}

/* Blog Page */

.blogpg .page-content {
	background-position: 67% top;
}

.blogpg h3 {
	margin: 0;
}

	.blogpg h3 a {
		margin-bottom: 0;
		color: #414141;
	}
	
		.blogpg h3 a:hover {
			color: #f28f33;
		}

.blogpg .post-block {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #EFEFEF;
}

.blogpg .postMeta {
	font-size: .9em;
	padding-bottom: 10px;
	margin-bottom: 35px;
	border-bottom: 3px solid #EFEFEF;
}

.blog-pagination a {
	color: #f28f33;
}
	.blog-pagination a.older {
		float: left;
	}
	.blog-pagination a.newer {
		float: right;
	}
	.blog-pagination a:hover {
		color: #adb548;
	}
	
#postnavigation { 
	border-top: 3px solid #EFEFEF;
	border-bottom: 3px solid #EFEFEF; 
	padding: 1em 0;
	text-align: center;
	margin-bottom: 1.5em;
	color: #FFF;
	font-size: .8em;
}

#postnavigation .nav-prev {
	float: right;
}

#postnavigation .nav-next {
	float: left;
}

#relatedPosts {
	border-bottom: 3px solid #EFEFEF;
	padding-bottom: .5em;
}

	#relatedPosts h3 {
		margin-bottom: .7em;
		color: #D2D76C;
		font-size: 1em;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .2em;
		font-weight: 700;
	}
	
	#relatedPosts div span {
		display: block;
		padding-bottom: .25em;
		margin-bottom: .5em;
		border-bottom: 1px solid #EFEFEF;
	}
	
	#relatedPosts div span:last-child {
		border-bottom: none;
	}

h3#comment {
	margin: 2em 0 .7em;
	color: #D2D76C;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-weight: 700;
}

#commentlist .comment{
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 20px;
}

/*[ Post Pager ]*/
#PostPager		{ font-family: 'Lato', Helvetica, Arial, sans-serif; }
#PostPager li:first-child, #PostPager li:last-child	{ border: none; }
#PostPager li:first-child a:before { content:"\00ab";}
#PostPager li:last-child a:after { content:"\00bb";}
#PostPager li { border-color: #EFEFEF; }
#PostPager li a	{ padding: 2px 5px; font-weight: normal; }
#PostPager .PagerLinkCurrent	{ background-color: #f28f33; color: #fff; padding: 2px 7px; border: 1px solid #f28f33; }
#PostPager .PagerLinkDisabled	{ color: #ccc; padding: 2px; }
#PostPager .PagerEllipses		{ border:0; padding: 2px; }

.blogpg .sidebar {
	margin-left: 5.762430939%;
	width: 28.491712705%;
	right: 0;
}
	.blogpg .sidebar h4 {
		margin-top: 0;
	}
	
	.blogpg .sidebar .archive-list {
		padding: 0;
	}
		.blogpg .sidebar .archive-list li {
			margin: 10px 0;
			padding: 10px 0 0;
			border-top: 1px solid #EFEFEF;
			text-align: center;
			font-size: .9em;
		}
			.blogpg .sidebar .archive-list li a {
				font-family: Courier, Times, serif;	
			}
			
.widget {
	margin-bottom: 2.5em;
	padding-bottom: .25em;
	display: block;
	border-bottom: 3px solid #EFEFEF;
}

	.widget h4 {
		border-bottom: 1px solid #EFEFEF;
		margin-bottom: .25em;
		padding-bottom: .25em;
	}

	.widget ul {
		padding: 0;
		margin: 0;
	}
	
		.widget ul li {
			border-bottom: 1px solid #EFEFEF;
			padding: .25em 0;
		}
		
		.widget ul li:last-child {
			border-bottom: none;
		}
			
#searchbox label {
	display: block !important;
	color: #D2D76C;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2em;
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: .25em;
	padding-bottom: .25em;
}
			
#searchfield {
	width: 60%;
	font-size: .8em;
	float: left;
}

#searchbutton {
	width: 23%;
	padding: 12px 0;
	float: right;
	letter-spacing: 0;
	font-size: .6em;
	margin: 1.2em 0;
}

	#searchbutton:hover {
		background: #f28f33;
	}
	
#categorylist a {
	color: #414141;
}

	#categorylist a:hover {
		color: #f28f33;
	}

	#categorylist .rssButton {
		display: none;
	}

ul.recentPosts span {
	display: none;
}

ul.recentPosts a {
	color: #414141;
}

	ul.recentPosts a:hover {
		color: #f28f33;
	}
	
.recentcomments a {
	display: none;
}

.recentcomments li {
	font-size: .8em;
}

	.recentcomments li a, .recentcomments a.delete, .recentcomments a.move, .recentcomments a.edit {
		display: inline;
	}


/* Resources Page */


.resourcespg h4 {
	padding-bottom: 10px;
	margin: 20px 0 10px;
	border-bottom: #efefef 1px solid;
}

.resourcespg dt {
	text-align: center;
	font-size: 1.175em;
}

.resourcespg dd {
	margin-bottom: 10px;
	font-size: .9em;
}

.resourcespg dd:last-child {
	margin-bottom: 40px;
}

.resourcespg dd a {
	color: #414141;
} 

.resourcespg dd a:hover {
	color: #f28f33;
}

.resourcespg p {
	font-family: Courier, Times, serif;
	font-size: .85em;
	margin-left: 40px;
}

.resourcespg p a {
	color: #f28f33;
	
} 

.resourcespg p a:hover {
	color: #414141;
} 


/* Testimonials Page */

.testimonial-list {
	padding: 0;
}

.testimonial-list li span{
	color: #9EBA3F;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-weight: 700;
	font-style: normal !important;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}


.testimonial-list li{
	font-size: .9em;
	padding: 10px ;
	margin: 10px 0;
	border-bottom: 1px solid #EFEFEF;
}

.testimonial-list li:last-child {
	border-bottom: none;
}

.testimonial-list li .testimonial-meta {
	font-size: .9em;
	color: #999;
	text-align: center;
	font-family: Courier, Times, serif;
}

/* Contact Page */

.page-content.contactpg {
	background-position: center top;
	text-align: center;
}

	.contactpg .contact-info p {
		font-family: 'Lato', Helvetica, Arial, sans-serif;
		font-size: 1.2em;
		text-align: center;
		color: #f28f33;
		margin-bottom: 1.5em;
	}
	
	.contactpg .contact-info a {
		margin-left: 20px;
	}
	
	.contactpg .contact-info a:hover {
		color: #414141;
	}
	
	.contact-info p,
	.contact-info h3,
	.contact-form {
		width: 60%;
		margin: 0 auto;
		text-align: center;
	}
	
	.contact-info h3 {
		text-align: center;
		font-weight: 300;
		font-size: 1.25em;
		display: block;
	}
	
	.contact-form input[type="text"],
	.contact-form input[type="email"],
	.contact-form textarea {
		width: 92%;
	}

/*===================================================================
FOOTER CONTENT
===================================================================*/

#site-footer {
	font-size: .9em;
	text-align: center;
	color: #FFFFFF;
	display: block;
	margin-bottom: 0;
	background: url(../images/footer-section-bg.svg) top center no-repeat transparent;
	background-size: 10%;
}

#site-footer:after {
	display: none;
}

	#site-footer p {
		display: block;
		padding: 100px 40px;
		margin: 0;
		line-height: 2em;
	}
		#site-footer p i {
			line-height: .35em;
			padding: 0 5px;
		}
	
	#site-footer a {
		color: #FFF;
		font-family: Courier, Times, serif;
	}
	
	#site-footer a:hover {
		color: #efc199;
	}

#site-footer-mobile {
		display: none;
	}

/*===================================================================
RESPONSIVE STYLES
===================================================================*/

@media (min-width: 481px) and (max-width: 768px) {

	body {
		background-size: 200%;
	}

	.page-content {
		margin: -1px auto 0;
	}

	nav#primary-menu li {
		margin: 30px 2%;
	}
		nav#primary-menu li a{
			letter-spacing: .15em;
		}
		nav#primary-menu li a:hover {
			opacity: .7;
		}

		
	
	#co-about h4 {
		font-size: .95em;
	}
	
	#co-about p {
		line-height: 1.4em;
		font-size: .71em;
	}
	
	#co-about p.testimonial-source {
		font-size: .7em;
		line-height: 1.2em;
	}

	.post-content { 
		background-position: center top;
	}
		
	.post-content img {
		width: 50%;
	}
	.post-content .post-text {
		width: 46%;
		float: left;
		margin: 0 2%;
		text-align: center;
	}
	.post-content h3 {
		display: none;
	}
	
	.post-content p {
		line-height: 1.7em;
	}
	
	.post-content p.post-date {
		display: none;
	}
	
	.page-content .row, .post-content .row {
		padding: 0 15px;
	}
	
	.responsive-title {
		display: block;
		margin-bottom: 20px;
	}
	
	.responsive-title h3 {
		display: block;
	}
	
	.responsive-title p.post-date {
		display: block;
	}
	
	.contactpg .contact-info p.phone-no a {
		display: block;
	}
	
	#searchfield {
		width: 79%;
		margin-bottom: .5em
	}

	#searchbutton {
		width: 100%;
	}
	
}

@media (max-width: 480px) {

	body {
		background-size: 200%;
	}

	#site-header {
		padding: 15px 0 0;
	}
	
		#site-header h1 a img {
			width: 300px;
		}
	
	nav#primary-menu ul {
		margin: 0;
	}
	nav#primary-menu li {
		margin: 15px .7% ;
		font-size: .8em;
	}
		nav#primary-menu li a{
			padding: 20px 0;
			letter-spacing: 0;
		}
		nav#primary-menu li a:hover {
			background: none;
			opacity: .7;
		}
		
	ul.slider-list {
		margin-top: 0;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
	ul.slider-list hgroup {
		margin-top: 120px;
	}
	
	#co-about {
		padding: 20px 20px 0;
	}
	
	#co-about .fourcol {
		padding-bottom: 40px
	}
	
	#co-about h4 {
		margin: 10px 0;
	}
	
	#co-about p {
		margin: .5em 0;
		text-align: center;
	}
	#co-about a {
		margin-top: 10px;
	}
	
	.page-content .row, .post-content .row {
		padding: 0 15px;
	}
	
	.post-content { 
		background-position: center top;
	}
	
	.post-content img {
		width: 100%;
	}
	.post-content .post-text {
		width: 92%;
		margin: 0;
		padding: 0 4%;
	}
	
	.post-content,
	.page-content,
	#site-footer p {
		padding: 50px 0;
	}
	
	.highlight-row {
		padding: 8px 0;
	}
	
	.page-content {
		background-size: 35%;
	}
	
	.highlight-row h2 {
		font-size: 1.9em;
	}
	
	.contact-info p,
	.contact-info h3,
	.contact-form {
		width: 100%;
	}
	
	p.phone-no a {
		margin-top: 12px;
	}
	
	p.phone-no [class^="icon-"] {
		display: block;
	}
	
	.contact-info a {
		display: block;
	}
	.contactpg .contact-info a {
		margin-left: 0;
	}
	
	.contact-form input[type="text"],
	.contact-form input[type="email"],
	.contact-form textarea {
		width: 85%;
		font-size: .85em;
	}
	
	.blogpg .page-content {
		background-position: 50% top;
	}
	
	.blogpg .sidebar {
		margin-left: 0;
		width: 100%;
	}
	
	#searchfield {
		width: 79%;
		margin-bottom: .5em
	}

	#searchbutton {
		width: 100%;
	}
	#site-footer {
		display: none;
	}
	
	#site-footer-mobile {
		display: block;
		padding: 20px 0;
		text-align: center;
	}
	
	#site-footer-mobile p {
		margin: 5px 20px;
		color: #FFF;
	}
	
	#site-footer-mobile p a {
		color: #FFF;
	}
	
	#site-footer-mobile p a:hover {	
		color: #efc199;
	}
}